[submodule "ViewPagerIndicator"]
	path = ViewPagerIndicator
	url = https://github.com/ericbottard/Android-ViewPagerIndicator.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/ericbottard/ActionBarSherlock.git
