<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cloudfoundry.android.cfdroid"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/cf_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity android:name=".DashboardActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity_" >
        </activity>
        <activity android:name=".AppListActivity_" >
        </activity>
        <activity android:name=".ServiceListActivity_" >
        </activity>
        <activity android:name=".ApplicationActivity_" >
        </activity>
        <activity android:name=".ServiceActivity_" >
        </activity>
        <activity android:name=".CloudInfoActivity_" >
        </activity>
        <activity android:name=".TargetsActivity_" >
        </activity>
    </application>

</manifest>